.b-list__act
  .b-list__h.b-list__h_day
    .b-list__body.b-list__body_arrow-right
      .b-list__day-h.b-list__day-h_size_sm <%= name %>
      .b-modal__close.b-modal__close_delete
        .b-list__arrow-right.b-list__arrow-right_delete
      //.b-list__arrow-right
        svg
          use(xlink:href='#icon_star')

